/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 sep 2026, 10:59:42 a.m.
    Author     : adria
*/

.root {
    -fx-background-color: black;
}

.sentence-container {
    -fx-background-color: white;
    -fx-padding: 15px;
    -fx-background-radius: 8px;
}

.keyboard-key {
    -fx-background-color: gray;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}

.shift-key {
    -fx-background-color: gray;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}

.key-correct {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}

.key-wrong {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}